{% load static %}
    <div class="container">
        <div class="row mt-2 custom-border justify-content-center align-items-center">
            <div class="col-12 col-md-5 p-4 d-flex align-items-center">
                <div class="text-container d-flex flex-column align-items-left">
                    <h2 class="hero-text text-left">Welcome to News Mix</h2>

                    <p class="hero-text2">Bringing you news and entertainments to your doorstep.</p>
                    <div>
                        <p class="hero-text2">To read news 
                        <a class="btn btn-red btn-lg" href="{% url 'browse_article' %}">click here</a></p>
                        <p class="hero-text2">To publish your acticle
                            <a class="btn btn-red btn-lg" href="{% url 'add_article' %}">click here</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7 mt-3 d-flex justify-content-center">
                <img class=" hero-image img-fluid" src="{% static 'images/news-mix-logo.png' %}" alt="Furniture store">
            </div>
        </div>
    </div>