/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');


/* General styling*/
body {
    font-family: Lato, sans-serif;
    font-weight: 500;
    background-color: #f9fafc;
}

.content {
    min-height: calc(100vh - 90px);
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: #ff0000;
}

.red-o {
    color: red;
    font-size: 50px;
}

.blue-text {
    color: #0000FF;
    font-weight: 400;
}

.page-title {
    padding-top: 5px;
    color: #0000FF;
    font-weight: 400;
    text-align: center;
}

.navbar {
    padding: 1rem 1rem;
}

.navbar ul a {
    color: #0000FF;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.navbar a:hover {
    color: #442E10;
}

.logo-img {
    height: 80px;
}

.hero-text-outer {
    background-color: #F4DDD8;
    min-height: 200px;
}

.hero-text {
    font-family: 'Lexend', sans-serif;
    font-size: 50px;
    color: #442E10;
}

.home-break {
    border-top: 1px solid #D8B646;
    margin: auto !important;
}

.feature-image {
    text-align: center;
    color: #886363;
}

.feature-title {
    font-family: 'Lexend', sans-serif;
    font-size: 30px;
    color: #0000FF;
    padding-top: 10px;
    text-align: center;
}

.feature-text {
    text-align: center;
    font-size: 17px;
}

.post-card:hover {
    box-shadow: 0px 0px 4px #D8C146;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    min-height: 250px;
}

.card-detail {
    border: none;
    color: #886363;
}

.post-detail-title {
    font-size: 20px;
}

.post-detail-title:first-letter{
    text-transform: capitalize
}

.browse-article {
    color: #886363;
}

.draft {
    color: red;
}

.post-title:first-letter {
    text-transform: capitalize
}

.post-detail-card {
    border: 0.5px solid #D8B646;
}

.post-detail-img {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
}

.post-detail-header {
    border: none;
    background-color: rgb(252, 247, 242);
    color: #0000FF;
}

.action-buttons-outer {
    position: absolute;
    bottom: 15px;
}

.action-btn {
    width: 40px;
}

.comment-action-btn a {
    padding-left: 5px;
    color: #128496
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.add-post input, .add-post textarea, .add-post select {
    border: 1px solid #D8C146;
}

.add-post input[type=file] {
    border: none !important;
}

.add-post label {
    color: #0000FF;
    font-weight: bold;
} 

.clearablefileinput {
    color: #886363;
    border: none
}

.add-post #div_id_image a {
    color: black !important;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.signup, .login {
    text-align: center;
    padding: 20px 0;
    border-radius: 2%;
    border: 1px solid #D8B646;
}

.signup input, .login input {
    width: 90%;
    border: 1px solid #D8B646;
    padding: 5px;
    margin: 5px 0 10px 0;
} 

.signup label, .login label {
    display: block;
    text-align: center;
    color: #442E10;
    font-weight: bold;
}

.login label[for="id_remember"] {
    display: inline;
}

.login #id_remember {
    width: 20px;
    display: inline;
}

/* Footer */

.footer-container {
    border-top: 1px #D8B646 solid !important;
}

.social-networks {
    text-align: center;
    padding: 0;
    margin: 30px 0;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    padding: 0 30px;
    color: #4b5054;
}

.social-networks i:hover {
    color: #142a2b;
}

#policy a {
    color: #fff;
    display: inline;
}

/* Small devices (landscape phones, less than 768px */

@media screen and (max-width: 767.98px) {
    .landing-tagline {
        width: 100%;
    }
    
    .logo-img {
        height: 50px;
    }

    .social-networks i {
        font-size: 120%;
        padding: 0 20px;
    }

    .fa-search {
        width: 10%;
    }

    .card-detail {
       width: 300px;
    }

    .mb-2, .my-2 {
        margin-bottom: .5rem !important;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        list-style: none;
    }

    dl, ol, ul {
        margin-top: 0;
    }

    .post-png{
        width: 100%;
    }
}

/* For Medium devices (tablets, less than 992px) */

@media screen and (max-width: 991.98px) {
    .hero-text {
        font-size: 35px;
    }
  
    .logo-image {
        height: 75px;
    }
}