body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #ff0000;
}

.news-mix {
    margin: 0 45px;
}

.red-o {
    color: red;
    font-size: 50px;
}

.bold {
    font-size: 30px;
}

.navbar-nav {
    font-size: 22px;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 0;
    min-width: 25%;
    left: -0;
    background-color: #ff0000;
}

.author {
    color: #fff;
    margin: 4px;
    text-transform: capitalize;
}

/* News headline ....................................... */
.masthead {
    margin-top: 10px;
    position: relative;
    display: inline-block;
    height: 43vh;
    width: 100%;
}


.masthead-text {
    background-color: #ff0000;
    color: #fff;
    position: relative;
}

.masthead-image {
    position: relative;

}

.post_body a {
    color: #ff0000;
}

.card-title {
    font-size: 150%;
}

/* News Paragraph ................................... */
.card-text {
    margin-top: 80px;
}

/* Post link ................................................ */
.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

/* Sign up button ............................................ */

#register {
    color: #ff0000;
}

.btn-signup {
    background-color: #eb0808;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #ff0000;
}

.login-text {
    font-size: 20px;
}

.link {
    color: #ff0000;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

@media screen and (min-width: 768px) {
    .navbar-nav {
        margin-left: 450px;
    }

}