{% extends 'base.html'%}

{% block content %}

<!-- Shows 500 error  -->
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-6 mt-5 text-center">
            <h1>500 error</h1>
            <hr class="h-break">
            <h3 class="mt-3">Server Error</h3>
            <br>
            <p> The News Mix is currently unable to handle this request</p>
            <a href="{% url 'home' %}" class="btn btn-outline-dark d-inline">Home</a>
        </div>
    </div>
</div>

{% endblock %}