{% extends "base.html" %}
{% block title %} The News | Browse Article {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">Browse Article</h1>
        </div>
    </div>
    <hr class="h-break">
    <br>
    <!--  Post Cards -->
    <div class="row card-deck">
        {% for post in post_list  %}
        <div class="col-sm-6 col-md-4 col-lg-3 px-1 d-flex align-items-stretch">
            <div class="card card-detail post-card mb-3 shadow-sm mx-auto mx-sm-2">
            {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/dflo67f1g/image/upload/v1727014132/logo_elyl8n.png"
                class="card-img-top" alt="placeholder image">
                {% else %}
                <img src="{{ post.featured_image.url }}" alt="featured image" class="card-img-top">
                {% endif %}
                <div class="card-body pb-1">
                    <h2 class="card-title post-detail-title text-truncate">{{ post.title }}</h2>
                    <p class="card-text">
                        <span><i class="far fa-clock pr-2"></i></span>
                        <span>Pub Time: {{ post.created_on }}</span>
                    </p>
                    <a href="{% url 'post_detail' post.slug %}" class="stretched-link"
                        aria-label="post-detail"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include "paginator.html" %}
    
{% endblock %}