{% extends "base.html" %}
{% block title %}The News | Edit Article {% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <h1 class="page-title">Edit Article</h1>
    <hr class="h-break">
    <br>
    <div class="row justify-content-center ">
        {% if user.is_authenticated and post.author == user  %}
        <!-- Checks the user is signed in and the post they're trying to access is owned by them -->
        {% load cloudinary %}
        <div class="col-11 col-md-8 col-lg-6 mt-3 add-article-outer">
            <form method="post" class="add-article mb-5" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark">Edit Article</button>
                <a class="btn btn-outline-dark m-2" href="{%  url 'post_detail' post.slug  %}">Cancel</a>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{%endblock%}
