{% extends "base.html" %}
{% block title %} The News | My Article {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="page-title">My Article</h1>
        </div>
    </div>
    <hr class="home-break">
    <br>
    <!--  Post Cards -->
    <div class="row card-deck">
        {% for post in post_list  %}
        <div class="col-sm-6 col-md-4 col-lg-3 px-1 d-flex align-items-stretch">
            <div class="card card-detail post-card mb-3 shadow-sm mx-auto mx-sm-2">
                {% if "placeholder" in post.image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                    class="card-img-top" alt="placeholder image">
                {% else %}
                <img src=" {{ post.image.url }}" alt="post image" class="card-img-top">
                {% endif %}
                <div class="card-body pb-1">
                    <!--  checks if recipe is unpublished -->
                    {% if post.status == 0 %}
                    <h2 class="card-title post-detail-title text-truncate">{{ post.title }}
                        <span class="draft">(DRAFT)</span></h2>
                    {% else %}
                    <h2 class="card-title post-detail-title text-truncate">{{ post.title }}</h2>
                    {% endif %}
                    <p class="card-text">
                        <span><i class="far fa-heart "></i></span>
                       <span><i class="far fa-clock pr-2"></i></span>
                       <span>Publish Time: {{ post.created_on }}</span>
                    </p>
                    <a href="{% url 'post_detail' post.slug %}" class="stretched-link"
                        aria-label="post-detail"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include "paginator.html" %}
{% endif %}

{%endblock%}