{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="masthead">
  <div class="container">
    <div class="row g-0">
      <div class="col-md-6 masthead-text">
        <!-- Post title goes in these h1 tags -->
        <h1 class="post-title">{{ post.title }}</h1>
        <!-- Post author goes before the | the post's created date goes after -->
        <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
      </div>
      <div class="d-none d-md-block col-md-6 masthead-image">
        <!-- The featured image URL goes in the src attribute -->
        {% if "placeholder" in post.featured_image.url %}
        <img
          src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
          width="100%"
        />
        {% else %}
        <img src=" {{ post.featured_image.url }}" width="100%" />
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col card mb-4 mt-3 left top">
      <div class="card-body">
        <!-- The post content goes inside the card-text. -->
        <!-- Use the | safe filter inside the template tags -->
        <p class="card-text" id="post-del">{{ post.content | safe }}</p>
        <div class="row">
          <div class="col-1">
            <strong>
              {% if user.is_authenticated %}
              <form
                class="d-inline"
                action="{% url 'post_like' post.slug %}"
                method="POST"
              >
                {% csrf_token %} {% if liked %}

                <button
                  type="submit"
                  name="blogpost_id"
                  value="{{post.slug}}"
                  class="btn-like"
                >
                  <i class="fas fa-heart"></i>
                </button>

                {% else %}
                <button
                  type="submit"
                  name="blogpost_id"
                  value="{{post.slug}}"
                  class="btn-like"
                >
                  <i class="far fa-heart"></i>
                </button>

                {% endif %}
              </form>
              {% else %}

              <span class="text-secondary"><i class="far fa-heart"></i></span>
              {% endif %}
              <!-- Show The number of likes -->
              <span class="text-secondary"> {{ post.number_of_likes }} </span>
            </strong>
          </div>
          <div class="col-1">
            {% with comments.count as total_comments %}
            <strong class="text-secondary"
              ><i class="far fa-comments"></i>
              <!-- Total_comments variable -->
              {{ total_comments }}</strong>
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Here -->
      {% for comment in comments %}
      <div>{{ comment }}</div>
          
      {% for reply in comment.replycomment_set.all %}
      <div>
          <div class="fw-bold"><small><b>Name {{ reply.replier_name }}</b></small></div>
          <div style="font-size: 10px;">date {{ reply.replied_date }}</div>
          <small>Reply comment {{ reply.content }}</small><br>
          </div>
      {% endfor %}
  
  {% endfor %}

  <div id="reply{{comment.id}}" class="collapse in">
     <form method="post">
        {% csrf_token %}
          <input name="replier_name" class="form-control form-control-sm" type="hidden">
          <input name="reply_content" class="form-control form-control-lg" type="text" placeholder="Reply comment">
          <button type="submit" class="btn btn-primary" style="float: right; margin-top: 5px;">Reply</button>
      </form>
      <!-- End Here-->
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3">
      <h3>Comments:</h3>
      <div class="card-body">
        <!-- For loop inside the empty control tags to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="comments" style="padding: 10px">
          <p class="font-weight-bold">
            <!-- The commenter's name. -->
            {{ comment.name }}
            <span class="text-muted font-weight-normal">
              <!-- The comment's created date -->
              {{ comment.created_on }}
            </span>
            {% if user.is_authenticated and user.username == comment.name %}
                        <span class="comment-action-btn pl-2">
                            <a href="{% url 'edit' comment.id %}" aria-label="edit-comment"><i
                                    class="fas fa-edit link-primary"></i></a>
                            <a href="{% url 'delete' comment.id %}" aria-label="delete-comment"><i
                                    class="fas fa-times"></i></a>  
                          
                        </span>
                      </span>
                            {% endif %}
          </p>
          <!-- The body of the comment -->
          {{ comment.body | linebreaks }}
          <h6><a href="{% url 'reply' comment.id %}" aria-label="reply-comment"><i
            class=""></i>reply</a></h6>
        </div>
        <!-- End for loop -->
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4 card mb-4 mt-3">
      <div class="card-body">
        {% if commented %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting approval
        </div>
        {% else %}

        <!-- For authenticated users to leave comments -->
        {% if user.is_authenticated %}

        <h3>Leave a comment:</h3>
        <p>Posting as: {{ user.username }}</p>
        <form method="post" style="margin-top: 1.3em">
          {{ comment_form | crispy }} {% csrf_token %}
          <!-- Cross-Site Request Forgery -->
          <button type="submit" class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% endif %} {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
