{% extends 'base.html' %} 
{% block content %} 
{% load crispy_forms_tags %}


<div class="container p-0">
  <div class="container pt-3">
      <div class="card mb-3 post-detail-card">
      <div class="col-12 col-md-4">
        {% if "placeholder" in post.featured_image.url %}
        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
            class="post-detail-img" alt="placeholder image">
        {% else %}
        <img src=" {{ post.featured_image.url }}" alt="featured image" class="post-detail-img">
        {% endif %}
    </div>
        <div class="col-12 col-md-8">
          <div class="card-body post-detail-outer py-2">
            <div>
                <h1 class="card-title page-title post-title text-left">{{ post.title }}</h1>
            </div>
            <p class="card-text">Author: {{ post.author }}</p>
            <div class="mb-5">
                  <p>
                      <span><i class="far fa-calendar pr-2"> </i></span>
                      <span>Created On: {{ post.created_on }}</span>
                  </p>
                  <!-- Use the | safe filter inside the template tags -->
                   <p class="card-text" id="post-del">{{ post.content | safe }}</p>
            </div>

              <div class="action-buttons-outer d-block">
              {% if user.is_authenticated %}
              <form
                class="d-inline"
                action="{% url 'post_like' post.slug %}"
                method="POST"
              >
                {% csrf_token %} {% if liked %}

                <button
                  type="submit"
                  name="blogpost_id"
                  value="{{post.slug}}"
                  class="btn-like"
                >
                  <i class="fas fa-heart"></i>
                </button>

                {% else %}
                <button
                  type="submit"
                  name="blogpost_id"
                  value="{{post.slug}}"
                  class="btn-like"
                >
                  <i class="far fa-heart"></i>
                </button>
                {% endif %}
                </form>
                {% endif %}
                {% if user.is_authenticated and post.author == user %}
                <span>
                    <a class="action-btn btn btn-info" href="{% url 'edit_article' post.slug %}"
                        aria-label="edit-article">
                        <i class="fas fa-edit"></i>
                    </a>
                </span>
                <span>
                  <a class="action-btn btn btn-info" href="{% url 'delete_article' post.pk %}"
                      aria-label="delete-article">
                      <i class="fas fa-times"></i>
                  </a>
                  </span>
                  {% endif %}
              </div>
              <div class="col-1">
                {% with comments.count as total_comments %}
                <strong class="text-secondary"
                  ><i class="far fa-comments"></i>
                  <!-- Total_comments variable -->
                  {{ total_comments }}</strong>
                {% endwith %}
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <!-- Here -->
            {% for comment in comments %}
            <div>{{ comment }}</div>
                
            {% for reply in comment.replycomment_set.all %}
            <div>
              <div class="fw-bold"><small><b>Name {{ reply.replier_name }}</b></small></div>
              <div style="font-size: 10px;">date {{ reply.replied_date }}</div>
              <small>Reply comment {{ reply.content }}</small><br>
            </div>
            {% endfor %}

            <div id="reply{{comment.id}}" class="collapse in">
              <form method="post">
                  {% csrf_token %}
                    <input name="replier_name" class="form-control form-control-sm" type="hidden">
                    <input name="reply_content" class="form-control form-control-lg" type="text" placeholder="Reply comment">
                    <button type="submit" class="btn btn-primary" style="float: right; margin-top: 5px;">Reply</button>
                </form>
                <!-- End Here-->
              </div>
            </div>
            <div class="row">
              <div class="col-md-8 card mb-4 mt-3">
                <h3>Comments:</h3>
                <div class="card-body">
                  <!-- For loop inside the empty control tags to iterate through each comment in comments -->
                  {% for comment in comments %}
                  <div class="comments" style="padding: 10px">
                  <p class="font-weight-bold">
                  <!-- The commenter's name. -->
                  {{ comment.name }}
                  <span class="text-muted font-weight-normal">
                    <!-- The comment's created date -->
                    {{ comment.created_on }}
                   </span>
                   {% if user.is_authenticated and user.username == comment.name %}
                    <span class="comment-action-btn pl-2">
                    <a href="{% url 'edit' comment.id %}" aria-label="edit-comment"><i
                      class="fas fa-edit link-primary"></i></a>
                    <a href="{% url 'delete' comment.id %}" aria-label="delete-comment"><i
                      class="fas fa-times"></i></a>  
                    </span>
                    </span>
                    {% endif %}
                  </p>
                <!-- The body of the comment -->
                {{ comment.body | linebreaks }}
                <h6><a href="{% url 'reply' comment.id %}" aria-label="reply-comment"><i
                  class=""></i>reply</a></h6>
              </div>
              <!-- End for loop -->
              {% endfor %}
            </div>
          </div>
          <div class="col-md-4 card mb-4 mt-3">
            <div class="card-body">
              {% if commented %}
              <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
              </div>
              {% else %}

              <!-- For authenticated users to leave comments -->
              {% if user.is_authenticated %}

              <h3>Leave a comment:</h3>
              <p>Posting as: {{ user.username }}</p>
              <form method="post" style="margin-top: 1.3em">
                {{ comment_form | crispy }} {% csrf_token %}
                <!-- Cross-Site Request Forgery -->
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
              </form>
              {% endif %}
          </div>
      </div>
    </div>
</div>
{% endif %}

{% endfor %}
{% endblock content %}
