{% extends "base.html" %}
{% block title %}The News | Profile{% endblock %}


{% block content %}

<div class="container">
    <h1 class="page-title">Profile</h1>
    <hr class="home-break">
    <br>
    <div class="row">
        <div class="col-12">
            <img
              src="https://res.cloudinary.com/dflo67f1g/image/upload/v1728162118/1001850297_r3usxc.jpg"
              width="45%" class="img-fluid" alt="placeholder image"
            />
            <br>
            <h3 id="profile">{{user.username|title}}</h3>
            <p class="title">{{user.email}}</p>
        </div>
    </div>
</div>

{%endblock%}