{% load static %}
<header>
    <div class="container-fluid">
        <span class="news-mix">
                <a class="navbar-brand" href="{% url 'home' %}"><span class="red-o">News</span><span class="bold">
                        Mix</span>
        </span></a></span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">
    <!-- Account -->
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
            <li class="list-inline-item dropdown">
                <a class="text-black nav-link" href="#" id="account-options" aria-haspopup="true" aria-expanded="false"
                    data-bs-toggle="dropdown">
                    <div class="text-center">
                        <div><i class="fas fa-user fa-lg" id="account" aria-hidden="true"></i></div>
                        <p class="my-0" id="account">Account</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="account-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="#" class="dropdown-item">A</a>
                    {% endif %}
                    <a href="#" class="dropdown-item">P</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
<!-- End account -->
        </ul>
    </div>
</div>
<!-- news mix end here-->
</div>
    <!-- End account -->
    <div class="row px-3">
        <nav class="navbar navbar-expand-lg navbar-light w-100">

            <button class="navbar-toggler collapsed" type="button" aria-controls="main-nav" aria-expanded="false"
                aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target="#main-nav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <ul class="list-inline list-unstyled text-center text-lg-right my-0">
         
                <li class="list-inline-item dropdown">
                    <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" aria-haspopup="true" aria-expanded="false"
                        data-bs-toggle="dropdown">
                        <div class="text-center">
                            <div><i class="fas fa-user fa-lg" id="account" aria-hidden="true"></i></div>
                            <p class="my-0" id="account">My Account</p>
                        </div>
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <a href="#" class="dropdown-item">A</a>
                        {% endif %}
                        <a href="#" class="dropdown-item">P</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </li>
                
            </ul>
       
<!-- here -->
<div class="navbar-collapse collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-3" href="{% url 'home' %}" id="home-link">
                News
            </a>
        </li>
    </ul>
</div>
</nav>
<!--Here-->
</header>